.hero {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 1vw 0vw 3vw;
  align-items: center;
  /* color: #000; */
  background-color: #20125f;
}
.hero h3 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  margin: 0;
}
.hero p {
  text-align: center;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.452);
  margin: 0;
}

.container {
  /* background-color: #fff; */
  /* background-color: #191b1f; */
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 5vw;
}

.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
  overflow-x: hidden;
}

.postFeed {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 40px 0 5vw;
}

.contact {
  /* height: 400px; */
  background-color: #3a54fd;
  text-align: center;
  padding: 100px 0;
  margin-bottom: 20px;
}

.contact h2 {
  color: #fff;
}

.contact p {
  color: rgba(255, 255, 255, 0.788);
}

@media only screen and (max-width: 500px) {
  .postFeed {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -20px;
      padding: 40px 0 5vw; */
    justify-content: center;
    align-items: center;
  }
  .hero h3 {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    margin: 15px;
  }
  .hero p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}
